<!doctype html>
<html> 
    <head>
    <title>Show Me</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">ShowMe</a> 
    </div>

    <div id="navbar" class="collapse navbar-collapse"> 
    <ul class="nav navbar-nav">
        <li class="{% block nav_home %}{% endblock nav_home %}"><a href="/home">Home <span class="sr-only"></span></a></li> 
        <li class="{% block nav_series %}{% endblock nav_series %}"><a href="/series" role="button" aria-haspopup="true" aria-expanded="false">Series</a>
              </li>
        <li class="{% block nav_trailers %}{% endblock nav_trailers %}"><a href="/trailers">Trailers </a></li>
        </ul> 
        </div>
    </div>
</nav>
<div class="page-container">
        {% block content %}
        {% endblock %}
      </div>
{% include 'footer.html'%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body> 
</html>