<div class="footer col-xs-12 col-md-12 col-lg-12">
    <div class="col-xs-4 col-md-4 col-lg-4">
    <h4>Quick Links</h4>
        <ul>
            <li><a href="/home">Home <span class="sr-only"></span></a></li>
            <li><a href="/series">Series <span class="sr-only"></span></a></li>
            <li><a href="/trailers">Trailers <span class="sr-only"></span></a></li>
        </ul>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4>Contact</h4>
        <ul>
            <li>David Gibson</li>
            <li>40214358@napier.live.ac.uk</li>
        </ul>
    </div>
    <div class="col-xs-4 col-md-4 col-lg-4">
        <h4>Copyright</h4>
            <ul>
                    <li>Designed and developed in Edinburgh</li>
                    <li>All Rights Reserved</li>
                </ul>
    </div>
</div>