{% extends "base.html" %}
{% block nav_home %}active{% endblock nav_home %}
{% block content %} 
<div class="home">
        <div class="jumbotron jumbotron-fluid">
                <h1>Welcome to Show Me</h1>
                <p>Start browsing and keep track of your favourite tv shows.</p>
                
         
       {% include 'seriesWidget.html' %} <a class="btn btn-secondary btn-lg" href="/series" role="button">View All Series</a>
        </div> 
        {% include 'trailerWidget.html' %}
</div>
{% endblock %}