{% extends "base.html" %}
{% block content %} 
<div class="information">
        <div class="media">
                <div class="media-left media-middle">
                        <img class="information-image" src="/../static/img/{{key}}.jpg" alt="...">
                </div>
                <!-- display passed in content for selected title  -->
                <div class="media-body">
                        <h1>{{title}}</h1>
                        <h4 class="media-heading">{{genre}}</h4>
                        <p>{{cast}}</p><p>{{description}}</p>
                        <div class="rating">
                                <div class="media-right media-middle">
                                <h4>{{rating}}</h4>
                                </div>
                                <div class="media-body">
                                <img class="star-rating" src="/../static/img/star.png" alt="...">
                                </div>
                        </div>
                        
                        <a class="btn btn-secondary btn-lg" href="/trailers/{{key}}" role="button">Watch the Trailer</a>
                </div>
        </div>
        <div class="recommendations">
            <h2>Have you checked out these other titles? </h2>
            <p class="large-text-paragraph">Many have only just been added!</p>
           {% include 'seriesWidgetLarge.html' %} 
        </div>
</div>
{% endblock %}