<div class="row">
        <div class="col-xs-6 col-md-3 col-lg-3">
                <a href="/series/game_of_thrones" class="thumbnail">
                    <img src="/../static/img/game_of_thrones.jpg" alt="...">
                </a>
            </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
            <a href="/series/westworld" class="thumbnail">
                <img src="/../static/img/westworld.jpg" alt="...">
            </a>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3">
                <a href="/series/silicon_valley" class="thumbnail">
                    <img src="/../static/img/silicon_valley.jpg" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-3">
                    <a href="/series/its_always_sunny_in_philadelphia" class="thumbnail">
                        <img src="/../static/img/its_always_sunny_in_philadelphia.jpg" alt="...">
                    </a>
            </div>
      </div>