{% extends "base.html" %}
{% block nav_trailers %}active{% endblock nav_trailers %}
{% block content %}
 <div class="trailer">
        <div class="row">
                <div class="video-player col-xs-12 col-md-10 col-lg-8">
                    <!-- Display trailer and content for the selected show -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src={{trailer}} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <h2>{{title}} Official Trailer<a class="btn btn-secondary btn-lg" href="/series/{{key}}" role="button">Series Information</a></h2>
                </div>
                <div class="recommendations col-xs-12 col-md-12 col-lg-4">
                    <h3> You may also enjoy... </h3>
                        <a href="/series/westworld" class="thumbnail">
                            <img src="/../static/img/westworld.jpg" alt="...">
                        </a>
                            <a href="/series/silicon_valley" class="thumbnail">
                                <img src="/../static/img/silicon_valley.jpg" alt="...">
                            </a>
                                <a href="/series/its_always_sunny_in_philadelphia" class="thumbnail">
                                    <img src="/../static/img/its_always_sunny_in_philadelphia.jpg" alt="...">
                                </a>
                  </div>
                </div>
                
        </div>
</div> 
{% endblock %}