        <div class="primary-row col-xs-12 col-md-12 col-lg-12">         
                <div class="col-xs-7 col-md-7 col-lg-7">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XWxyRG_tckY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                </div>
                <div class="col-xs-5 col-md-5 col-lg-5">
                        <h1>Stranger Things</h1><h4>Season 1 - Official Trailer</h4> 
                        <div class="rating">
                                <div class="media-right media-middle">
                                <h4>8.9</h4>
                                </div>
                                <div class="media-body">
                                <img class="star-rating" src="/../static/img/star.png" alt="...">
                                </div>
                        </div>
                        <a class="btn btn-primary btn-lg" href="/series/stranger_things" role="button">Series Information</a>
                </div>
        </div>
        <div class="secondary-row col-xs-12 col-md-12 col-lg-12"> 
                <div class="col-xs-5 col-md-5 col-lg-5">
                        <h1>Game of Thrones</h1><h4>Season 1 - Official Trailer</h4> 
                        <div class="rating">
                                <div class="media-right media-middle">
                                <h4>9.8</h4>
                                </div>
                                <div class="media-body">
                                <img class="star-rating" src="/../static/img/star.png" alt="...">
                                </div>
                        </div>
                        <a class="btn btn-secondary btn-lg" href="/series/game_of_thrones" role="button">Series Information</a>
                </div>        
                <div class="col-xs-7 col-md-7 col-lg-7">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bjqEWgDVPe0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                </div>
        </div>
        <div class="primary-row col-xs-12 col-md-12 col-lg-12">         
                <div class="col-xs-7 col-md-7 col-lg-7">
                        <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kEkZdgWu7mM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                </div>
                <div class="col-xs-5 col-md-5 col-lg-5">
                        <h1>Westworld</h1><h4>Season 1 - Official Trailer</h4> 
                        <div class="rating">
                                <div class="media-right media-middle">
                                <h4>8.9</h4>
                                </div>
                                <div class="media-body">
                                <img class="star-rating" src="/../static/img/star.png" alt="...">
                                </div>
                        </div> 
                        <a class="btn btn-primary btn-lg" href="/series/westworld" role="button">Series Information</a>
                </div>
        </div>
