/* The theme colours for the website. Modify these CSS variables for new themes */
:root{
    --primary-color: #e91e63; 
    --body-color: #0582CA;
    --font-color: white;
    --logo-color: #00A6FB;
}


.jumbotron-fluid {
    padding: 80px;
    background-color: var(--primary-color);
    color: var(--font-color);
}

.series .jumbotron-fluid {
    background-color: var-(--primary-color);
}


.error .jumbotron-fluid {
    padding: 80px;
    background-color: var(--body-color);
    color: var(--font-color);
}

.error {
    height: 760px;
}

.recommendations .jumbotron-fluid {
    display:none;
}

.jumbotron-fluid p{
    color: var(--font-color);
    font-weight: 400;
}

.btn-primary, .btn-primary:visited, .btn-primary:active:hover {
    color: var(--body-color);
    border-color: white;
    background-color:white;
}

.btn-primary:active {
    color: var(--body-color);
    border-color: white;
    background-color:white;
}

.btn-primary:hover {
    color: var(--font-color);
    border-color: white;
    background-color:var(--body-color);
}

.btn-secondary, .btn-secondary:visited, .btn-secondary:active:hover {
    color: var(--primary-color); 
    border-color: white;
    background-color:white;
}

.btn-secondary:active {
    color: var(--primary-color);
    border-color: white;
    background-color:white;
}

.btn-secondary:hover {
    color: var(--font-color);
    border-color: white;
    background-color:var(--primary-color);
} 


.thumbnail {
    min-width: 150px;
    max-width: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

.thumbnail:hover {
    transform: scale(1.08,1.08);
    border: 0px;
}

.thumbnail img {
    border-radius: 10px;
}

.information-image {
    max-width: 500px;
    margin: 12px;
    border-radius: 10px;
}

.media {
    background-color: var(--primary-color); 
    color: var(--font-color); 
    padding-left: 65px;
    padding-right: 65px;
}

.navbar-inverse .navbar-brand {
    color: var(--logo-color);
}
.row {
    margin-left:15px;
    margin-right:15px;
}

.trailers .row {
    margin-top: 30px;
}

.series, .home, .information, .trailers, .error{
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    background-color: var(--body-color);
}

.recommendations {
    padding-left: 50px;
    padding-right: 50px;
    color: var(--font-color);
}

.recommendations .series{
    margin: 0px;
}

.recommendations p {
    padding-left: 30px;
    padding-top: 5px;
}

 .trailer .recommendations p {
     padding: 0px;
} 

.video-player {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 30px;
}

.trailer .thumbnail {
    max-width: 270px;
}

.trailer .series .jumbotron-fluid{
    display: none;
}

.trailer .series {
    display: none;
}

.trailer {
    padding: 60px;
    padding-top: 100px;
}

.home .jumbotron-fluid .row {
    margin: -15px;
    margin-top: 30px;
}

h2 {
    margin:0px;
    padding-top:20px;
    padding-left: 30px;
    color: var(--font-color);
}

/* Small devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 1em
    }
}

/* Small devices (768px and up) */
@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 1.5em
    }
}

/* Medium devices (992px and up) */
@media (min-width: 992px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 2em
    }
}

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 4em;
    }
    .jumbotron p{
        font-size: 2em
    }
}


.embed-responsive .embed-responsive-16by9 {
    width:200px;
}

.star-rating {
    width: 30px;
    height: 30px;
    padding: 3px;
}

.rating .media-right, .media-middle{
    padding-left: 0px;
}

.media-body p {
    margin-bottom: 0px;
}

.large-text-paragraph {
    font-size: 18px;
}

.error-image {
    width: 70%;
}

h1, h3, h4{
    color: var(--font-color);
}


.trailer .btn, .home .jumbotron-fluid .btn{
    float: right;
}

.home .jumbotron-fluid .btn {
    margin: 10px;
}

.primary-row {
    padding-top: 40px;
    padding-bottom: 40px;
}

.secondary-row {
    padding-top: 40px;
    padding-bottom: 40px;
    background:var(--primary-color);
}

.footer {
    padding: 30px;
    color: white;
    background-color:#222222;
    bottom: 0px;
}
.footer a {
    color: white;
    font-size: 16px;
}

.footer ul{
    padding: 0px;
    list-style-type: none;
}


.information .media-body {
    width: 0px;
}